<div class="wrapper1">
  <section class="bg-transparent">
    <div class="row">
      <div class="col-md-12">
        <br /><br />
        <div class="row">
          <div class="col-sm-12 form-box">
            <div class="form-bottom">

              <!-- Breadcrumb -->
              <div class="row">
                <div class="col-md-3">
                  <ol class="breadcrumb">
                    <li>
                      <a [routerLink]="['/home']">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                      </a>
                    </li>
                    <li class="active"><span>Modification Mot de passe</span></li>
                  </ol>
                </div>
              </div>

              <div class="container">
                <br />
                <div class="row">

                  <!-- Statut -->
                  <div class="col-sm-7 text">
                    @if (success()) {
                      <div class="alert alert-success" translate="password.messages.success">
                        <strong>Password changed!</strong>
                      </div>
                    }
                    @if (error()) {
                      <div class="alert alert-danger" translate="password.messages.error">
                        <strong>An error has occurred!</strong> The password could not be changed.
                      </div>
                    }
                    @if (doNotMatch()) {
                      <div class="alert alert-danger" translate="global.messages.error.dontmatch">
                        The password and its confirmation do not match!
                      </div>
                    }

                    <h4
                      translate="password.title"
                      [translateParams]="{ username: account?.login }"
                    >
                      Password for [<b>{{ account?.login }}</b>]
                    </h4>
                  </div>

                  <!-- Formulaire -->
                  <div class="col-sm-5 form-box">
                    <div class="form-top"><br />
                      <h4 translate="global.form.enternewpwd">Saisir le nouveau mot de passe:</h4>
                    </div>
                    <div class="form-bottom">
                      <form name="form" role="form" novalidate #f="ngForm" (ngSubmit)="changePassword()">

                        <!-- Nouveau mot de passe -->
                        <div class="form-group">
                          <label class="control-label" for="password"
                                 translate="global.form.newpassword">New password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            [(ngModel)]="newPassword"
                            #pwd="ngModel"
                            minlength="4"
                            maxlength="50"
                            required
                          />
                          @if (pwd.dirty && pwd.invalid) {
                            @if (pwd.errors?.['required']) {
                              <p class="help-block" translate="global.messages.validate.newpassword.required"></p>
                            }
                            @if (pwd.errors?.['minlength']) {
                              <p class="help-block" translate="global.messages.validate.newpassword.minlength"></p>
                            }
                            @if (pwd.errors?.['maxlength']) {
                              <p class="help-block" translate="global.messages.validate.newpassword.maxlength"></p>
                            }
                          }
                          <app-password-strength-bar [passwordToCheck]="newPassword" />
                        </div>

                        <!-- Confirmation -->
                        <div class="form-group">
                          <label class="control-label" for="confirmPassword"
                                 translate="global.form.confirmpassword">New password confirmation</label>
                          <input
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                            [(ngModel)]="confirmPassword"
                            #cpwd="ngModel"
                            minlength="4"
                            maxlength="50"
                            required
                          />
                          @if (cpwd.dirty && cpwd.invalid) {
                            @if (cpwd.errors?.['required']) {
                              <p class="help-block" translate="global.messages.validate.confirmpassword.required"></p>
                            }
                            @if (cpwd.errors?.['minlength']) {
                              <p class="help-block" translate="global.messages.validate.confirmpassword.minlength"></p>
                            }
                          }
                        </div>

                        <button type="submit" class="btn btn-teal"
                                [disabled]="f.invalid"
                                translate="password.form.button">Save</button>
                        <br /><br />
                      </form>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
